GraphicsEngine3D/
*.vscode
__pycache__/
*.py[cod]



# Distribution / packaging
bin/
build/
scripts/
pyvenv.cfg
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
